{% extends 'Dream89MainBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/dream89main/assets/jquery-toolbar/toolbars.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/dream89main/assets/font-awesome/css/fa.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/dream89main/app/css/main.css') }}"/>
{% endblock %}
{% block content %}
    <br/><br/>
    Hello {{ name }}!
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <p><i class="fa fa-star"></i> My Favorites</p>
        </div>
        <div class="col-md-6">
            <a id="settings-btn" class="settings-button">
                <img src="{{ asset('bundles/dream89main/app/img/icon-cog.png') }}" />
            </a>
        </div>
    </div>
    <hr/>
    <div id="user-toolbar-options" class="toolbar-icons" style="display: none;">
        <a href="/#/favorites/new"><i class="fa fa-star fa-2x ico-white"></i></a>
    </div>

    <div id="app"></div>
    <!-- Handlebars templates-->
    <div class="handlebars_templates">
        {% autoescape false %}
            {{ includeFile('@Dream89MainBundle/Resources/public/app/js/templates/form.handlebars') }}
            {{ includeFile('@Dream89MainBundle/Resources/public/app/js/templates/details.handlebars') }}
            {{ includeFile('@Dream89MainBundle/Resources/public/app/js/templates/list.handlebars') }}
        {% endautoescape %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- lib -->
    <script type="text/javascript" src="{{ asset('bundles/dream89main/app/js/lib/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dream89main/app/js/lib/backbone-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dream89main/app/js/lib/handlebars.js') }}"></script>
    <script src="{{ asset('bundles/dream89main/assets/jquery-toolbar/toolbar.min.js') }}"></script>

    <!-- app -->
    <script type="text/javascript" src="{{ asset('bundles/dream89main/app/js/models/favoriteItem.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dream89main/app/js/collections/favorites.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dream89main/app/js/views/favorites.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dream89main/app/js/views/favoriteItemForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dream89main/app/js/views/favoriteItemDetails.js') }}"></script>

    <!-- main -->
    <script type="text/javascript" src="{{ asset('bundles/dream89main/app/js/app.js') }}"></script>
    <script>
        $('#settings-btn').toolbar({
            content: '#user-toolbar-options',
            position: 'top'
        });
    </script>
{% endblock %}